@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.EditableField {
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  width: 95%;
}

.icon {
  height: $iconHeight;
}

.button {
  margin: 0 0.5rem;
}

.value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input {
  background-color: inherit;
  border: none;
  border-bottom: 1px dashed $primary;
  color: $primary;
  font-size: 1.25rem;
}

.value,
.input {
  font-family: $primaryFont;
  margin: 0;
  width: 200px;

  @include below-screen-md {
    width: 100px;
  }
}
