@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.EditableField {
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  width: 95%;
}

.icon {
  height: $iconHeight;
}

.button {
  margin: 0 0.5rem;
}

.value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;

  /* added to avoid jank when switching between value/input */
  border-bottom: 1px dashed rgba(0, 0, 0, 0); // vertical
  padding-left: 1px; // horizontal
}

.input {
  display: block;
  background-color: inherit;
  border: none;
  color: $primary;
  font-size: 1rem;
  width: auto;
  border-bottom: 1px dashed $primary;
}

.value,
.input {
  font-family: $primaryFont;
  width: 300px;
  transition: width $animationDuration $animationTiming;

  @include below-screen-md {
    width: 200px;
  }

  @include below-screen-sm {
    width: 100px;
  }
}
