$primary: #374258 !default;
$secondary: #f74464 !default;
$gray: #6a7285 !default;
$feint: #c4c4c4 !default;
$white: #f3f3f3 !default;

$primaryFont: 'Raleway', Arial, sans-serif !default;
$secondaryFont: 'Open Sans', Verdana, sans-serif !default;

$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpointXl: 1200px;

$animationDuration: 0.2s;
$animationTiming: linear;
