@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

$releaseItemBorderRadius: 10px;

.ReleaseItem {
  position: relative;
  vertical-align: middle;
  padding: 1rem;
  margin: 0 1rem;
  border-radius: $releaseItemBorderRadius;
  border: 1px solid $gray;
  height: 150px;
  width: 150px;
  flex-shrink: 0;

  background-color: $white;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.25);
  transition:
    background-color $animationDuration $animationTiming,
    box-shadow $animationDuration $animationTiming;

  @include below-screen-lg {
    height: 125px;
    width: 125px;
  }

  @include below-screen-sm {
    height: 100px;
    width: 100px;
  }

  &:hover {
    cursor: pointer;
  }
}

.title {
  margin: 0.25rem 0;
  padding: 0;
}

.artist {
  margin: 0;
  padding: 0;
}

.year {
  margin: 0.25rem 0;
  padding: 0;
}

.dragIndicator {
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid $primary;
  background-color: darken($color: $white, $amount: 5);
  border-bottom-left-radius: $releaseItemBorderRadius;
  border-bottom-right-radius: $releaseItemBorderRadius;
  color: transparentize($color: $primary, $amount: 0.5);
  font-size: 0.75rem;
  padding-bottom: 0.125rem;
  letter-spacing: 2px;
  text-align: center;

  width: 100%;
}

.isDragging {
  background-color: lighten($color: $white, $amount: 100);
  box-shadow: 0 10px 2px rgba(0, 0, 0, 0.25);
  transition:
    background-color $animationDuration $animationTiming,
    box-shadow $animationDuration $animationTiming;
}
