@import '../../styles/variables.scss';

.Header {
  position: static;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: $feint;
}

.logo {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2rem;
}
