@import '../../styles/variables.scss';

.Header {
  position: static;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $feint;
  border-bottom: 3px solid $gray;

  & > * {
    margin: 0 2rem;
  }
}
