@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.ReleasesList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0;
  background-color: $feint;
  overflow-x: auto;
  overflow-y: hidden;
  border: 2px solid rgba(0, 0, 0, 0); // avoid jank in resize by already having a border
  border-radius: inherit; // match border radius in container if it exists

  $releasesListHeight: 200px;
  min-height: $releasesListHeight;

  @include below-screen-lg {
    $releasesListHeight: 175px;
    min-height: $releasesListHeight;
  }

  @include below-screen-md {
    $releasesListHeight: 150px;
    min-height: $releasesListHeight;
  }

  .emptyStateMessage {
    color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $releasesListHeight;
    width: 100%;
  }
}

.isDragging {
  border: 2px dashed $secondary;
}

.isDraggingOver {
  background-color: darken($color: $feint, $amount: 10);
}
