@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.ReleasesList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0;
  background-color: $feint;
  overflow-x: auto;
  overflow-y: hidden;
  border: 2px solid rgba(0, 0, 0, 0); // avoid jank in resize by already having a border
  border-radius: inherit; // match border radius in container if it exists

  min-height: 200px;

  @include below-screen-lg {
    min-height: 175px;
  }
  @include below-screen-md {
    min-height: 150px;
  }
}

.isDragging {
  border: 2px dashed $secondary;
}

.isDraggingOver {
  background-color: darken($color: $feint, $amount: 10);
}
