@import '../../styles/variables.scss';

.CollectionList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 12rem;
  width: 100%;
  padding: 1rem 0;
  background-color: $feint;
  overflow-x: auto;
  overflow-y: hidden;
}
