@import './styles/variables.scss';

.App {
  background-color: $primary;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.intro {
  color: $white;
  text-align: center;
  font-size: 1.25rem;
  margin-top: 2rem;
}
